<h2 class="text-center">錯誤回報</h2>
<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>標題</th>
        <th>狀態</th>
        <th>回報人姓名</th>
        <th>電子郵件</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @bugs.order("status ASC").each do |b| %> 
        <tr>
          <td> <%= link_to admin_bug_path(b) do %><%= b.title %><% end %> </td>
          <td> <%= b.status%> </td>
          <td> <%= b.name%> </td>
          <td> <%= b.email%> </td>
          <td> <% link_to("編輯", 
                           edit_admin_bug_path(b), 
                           :class => "btn btn-default btn-sm")%>

               <% link_to("刪除", 
                           admin_bug_path(b), 
                           :class => "btn btn-default btn-sm",
                           :method => :delete,
                           data: { confirm: "確認刪除" } )%></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>