<div class="col-md-4 col-md-offset-4">
  <h1 class="text-center"><%= @bug.title %></h1>
  <div>Content: 
    <%= @bug.content %>
  </div>
  <div>Name:
    <%= @bug.name %>
  </div>
  <div>Email:
    <%= @bug.email %>
  </div>
  <%= simple_form_for [:admin, @bug]  do |f| %>
    <div>Status:
      <%= f.select :status, [['未處理',1],[' 處理中',2],['已處理',3]] %>
      <%= f.submit "確認", :disable_with => '處理中...'%> 
    </div>
  <% end %> 
</div>