<h2 class="text-center">常見問題</h2>
<div class="col-md-12">
  <div class="group">
    <%= link_to("新增常見問題", new_admin_faq_path(@faq) , :class => "btn btn-warning pull-right")%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>問題</th>
        <th>回答</th>
        <th>建立時間</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @faqs.each do |f| %> 
        <tr>
          <td> <%= truncate(f.question, length: 23) %> </td>
          <td> <%= truncate(f.answer, length: 33) %> </td>
          <td> <%= f.created_at%> </td>
          <td> <%= link_to("編輯", 
                           edit_admin_faq_path(f), 
                           :class => "btn btn-default btn-sm")%>

               <%= link_to("刪除", 
                           admin_faq_path(f), 
                           :class => "btn btn-default btn-sm",
                           :method => :delete,
                           data: { confirm: "確認刪除?" } )%></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>