<div class="col-md-4 col-md-offset-4">
  <% @mqs.order("created_at DESC").each do |mq| %>
    <div>
      <%= mq.title %>
    </div>
    <div>Created_at:
      <%= mq.created_at %>
    </div>
    <div>User:
      <%= mq.user.id %>
    </div>
    <div>Content:
      <%= mq.content %>
    </div>
    <div>Status: 
      <%= mq.status %>
    </div>
    <hr/>

    <% mq.answers.order("created_at ASC").each do |ans| %>
      <div>Created_at:
        <%= ans.created_at %>
      </div>
      <div>User:
        <%= ans.user.id %>
      </div>
      <div>Content:
        <%= ans.content %>
      </div>
      <br/>
    <% end %>
    
    <%= simple_form_for [:admin, mq, @answer] do |f| %>
      <%= f.input :content, :input_html => { :class => "form-control"} %>
      <hr>
      <div class="form-actions">
        <%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn btn-primary"%> 
      </div>
    <% end %> 

    <hr/>
  <% end %>
</div>
