<h1 class="text-center"><%= current_user.id %>的提問</h1>
<div class="col-md-6 col-md-offset-3">
  <% @mqs.order("created_at DESC").each do |mq| %>
    <%= simple_form_for [:admin, mq, @answer] do |f| %>
      <h3>標題:
        <%= mq.title %>
      </h3>
      <div>提問時間:
        <%= mq.created_at %>
      </div>
      <div>內容:
        <%= mq.content %>
      </div>
      <%= fields_for mq do |f| %>
        <div>狀態:
          <%= f.select :status, [['未處理',1],[' 處理中',2],['已處理',3]] %>
        </div>
      <% end %> 
      <hr/>

      <% mq.answers.order("created_at ASC").each do |ans| %>
        <div>回覆者:
          <%= ans.user.id %>
        </div>
        <div>回覆時間:
          <%= ans.created_at %>
        </div>
        <div>內容:
          <%= ans.content %>
        </div>
        <br/>
      <% end %>
    
      <%= f.input :content, label:"內容", :input_html => { :class => "form-control"} %>
      <hr>
      <div class="form-actions">
        <%= f.submit "確認", :disable_with => 'Submiting...', :class => "btn btn-primary"%> 
      </div>
    <% end %> 
    <hr/>
  <% end %>
</div>
