<%= link_to home_newest_path, style: 'text-align:center;' do %>
  <h1><%= "最新商品" %></h1>
<% end %>
<%= render "common/product_table", :source => @newest_products %>

<br>

<%= link_to home_newest_path, style: 'text-align:center;' do %>
  <h1><%= "熱門商品" %></h1>
<% end %>
<%= render "common/product_table", :source => @hotest_products %>
