<h1 class="text-center">填寫結帳資訊</h1>
<div class="container-fluid">
  <hr>
  <div class="col-md-offset-4 col-md-4">
    <%= simple_form_for @order do |f| %>
      <h3>收件人</h3>
      <h4>選擇收件人</h4>
      <% @contacts.each do |c| %>
        <%= link_to c.name, edit_contact_path(c), remote: true %><br/>
      <% end %>
      <div id="contact" style="display: none"></div>

      <h4>新增收件人</h4>
      <%= f.fields_for @contact do |c| %>
          <%= c.input :name, :label => "姓名", :input_html => { :class => "form-control"} %>
          <%= c.input :email, :label => "電子郵件", :input_html => { :class => "form-control"} %>
          <%= c.input :cellphone, :label => "電話", :input_html => { :class => "form-control"} %>
          <%= c.input :address, :label => "地址", :input_html => { :class => "form-control"} %>
      <% end %>
      <hr/>

      <h3>付款方式</h3>
      <div class="form-controller">
        <%= f.radio_button :pay_method, "1", :checked => true %>
        <%= f.label "方式一" %>
        <%= f.radio_button :pay_method, "2", :checked => false %>
        <%= f.label "方式二" %>
        <%= f.radio_button :pay_method, "3", :checked => false %>
        <%= f.label "方式三" %>
      </div>
      <h3>收件方式</h3>
      <div class="form-controller">
        <%= f.radio_button :ship_method, "1", :checked => true %>
        <%= f.label "方式一" %>
        <%= f.radio_button :ship_method, "2", :checked => false %>
        <%= f.label "方式二" %>
        <%= f.radio_button :ship_method, "3", :checked => false %>
        <%= f.label "方式三" %>
      </div>
      <% f.input :status, :input_html => { :class => "form-control"} %>
      <% f.input :total_price, :input_html => { :class => "form-control"} %>
      <hr>
      <div class="form-actions">
        <% f.submit "確認", :disable_with => '正在提交...', :class => "btn btn-primary"%>
      </div>
    <% end %> 
  </div>
</div>  
