<h1>orders#edit</h1>
<hr>
<%= simple_form_for @order, url: order_path(@order), method: :patch do |f| %>
  <%= fields_for @contact do |c| %>
    <h3>Add contact</h3>
    <p>
      <%= c.label :name %><br>
      <%= c.text_field :name, :class => "form-control" %>
    </p>
    <p>
      <%= c.label :cellphone %><br>
      <%= c.phone_field :cellphone, :class => "form-control" %>
    </p>
    <p>
      <%= c.label :address %><br>
      <%= c.text_field :address, :class => "form-control" %>
    </p>
  <% end %>
  <p>
    <%= f.label :pay_method %></br>
    <%= f.radio_button :pay_method, "1", :checked => true %>
    <%= f.label :method_1 %>
    <%= f.radio_button :pay_method, "2", :checked => false %>
    <%= f.label :method_2 %>
    <%= f.radio_button :pay_method, "3", :checked => false %>
    <%= f.label :method_3 %>
  </p>
  <p>
    <%= f.label :ship_method %></br>
    <%= f.radio_button :ship_method, "1", :checked => true %>
    <%= f.label :method_1 %>
    <%= f.radio_button :ship_method, "2", :checked => false %>
    <%= f.label :method_2 %>
    <%= f.radio_button :ship_method, "3", :checked => false %>
    <%= f.label :method_3 %>
  </p>
  <% f.input :status, :input_html => { :class => "form-control"} %>
  <% f.input :total_price, :input_html => { :class => "form-control"} %>

<hr>
  <%= f.submit "Submit", :disable_with => 'Submitting...', :class => "btn btn-primary"%>
<% end %> 
</div>
