<h1 class="text-center">我的訂單</h1>
<div class="col-md-12"> 
  <div class="group">
  </div>
  <table class="table table-hover">
    <thead> 
      <tr>
        <td> 訂單編號 </td>
        <td> 收件人 </td>
        <td> 付款方式 </td>
        <td> 收件方式 </td>
        <td> 總金額 </td>
        <td> 狀態 </td>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |o| %>
        <tr>
        <td> <%= link_to order_path(o) do%><%= o.id %><% end %> </td>
        <td> <%= @contacts.find(o.contact_id).name %> </td>
        <td> <%= o.pay_method %> </td>
        <td> <%= o.ship_method %> </td>
        <td> <%= o.total_price %> </td>
        <td> <%= o.status %> </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>
