<h1>orders#index</h1>
<div class="col-md-12"> 
  <div class="group">
  </div>
  <table class="table table-hover">
    <thead> 
      <tr>
        <td> # </td>
        <td> ID </td>
        <td> contact_id </td>
        <td> pay_method </td>
        <td> ship_method </td>
        <td> status </td>
        <td> total_price </td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |o| %>
        <tr>
        <td> # </td>
        <td> <%= o.id %> </td>
        <td> <%= o.contact_id %> </td>
        <td> <%= o.pay_method %> </td>
        <td> <%= o.ship_method %> </td>
        <td> <%= o.status %> </td>
        <td> <%= o.total_price %> </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>
