<script>
$(document).ready(function(){
  $('#selectAll').click(function() {
    if (this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;                        
      });
    } else {
      $(':checkbox').each(function() {
        this.checked = false;                        
      });
    } 
  });
})
</script>

<div class="col-md-12"> 
  <table class="table table-hover">
    <thead> 
      <tr>
        <% unless @is_checkout %>
          <td><input type="checkbox" id="selectAll" value="selectAll" checked></td>
        <% end %>
        <th> 商品名稱 </th>
        <th> 備註 </th>
        <th> 顏色 </th>
        <th> 尺寸 </th>
        <th> 單價 </th>
        <th> 數量 </th>
      </tr>
    </thead>
    <tbody>
      <% count = 0 %>
      <% @inventories.each do |i| %>
        <tr>
        <% unless @is_checkout %>
          <td> <%= check_box_tag "items[]", i.id, select: true %></td>
        <% else %>  
          <%= hidden_field_tag "items[]", i.id %>
          <%= hidden_field_tag "amount[]", @item_amount[count] %>
        <% end %>
        <td> <%= i.product.name %> </td>
        <td> <%= i.product.description %> </td>
        <td> <%= i.color %> </td>
        <td> <%= i.size %> </td>
        <td> <%= i.product.price %> </td>
        <td> <%= @item_amount[count] %> </td>
        </tr>
        <% count += 1 %>
      <% end %> 
      <%= hidden_field_tag "total_price", @total_price %>
    </tbody>
  </table>
  <% unless @is_checkout %>
    <%= submit_tag "結帳", :class => "btn btn-sm btn-primary", :name => "checkout" %>
    <%= submit_tag "移除", :class => "btn btn-sm btn-default", :name => "remove" %>
  <% else %>
    <p>總金額: <%= @total_price %> </p>
    <%= render "orders/new" %>
    <%= submit_tag "確認結帳", :class => "btn btn-sm btn-primary", :name => "checkout" %>
    <%= link_to("回到購物車", carts_path, :class => "btn btn-sm btn-default") %>
  <% end %>
</div>
