<h1>carts#index</h1>
<%= form_tag operation_cart_path(@cart), :method => "post" do %>
<div class="col-md-12"> 
  <div class="group">
  </div>

  <table class="table table-hover">
    <thead> 
      <tr>
        <td> # </td>
        <td> ID </td>
        <td> Name </td>
        <td> Description </td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @product.each do |p| %>
        <tr>
        <td> # </td>
        <td> <%= p.id %> </td>
        <td> <%= p.name %> </td>
        <td> <%= p.description %> </td>
        <td> <%= check_box_tag "items[]", p.id %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
  <%= submit_tag "Checkout", :class => "btn btn-sm btn-default", :name => "checkout" %>
  <%= submit_tag "Romove", :class => "btn btn-sm btn-default", :name => "remove" %>

</div>
<% end %>