<table class="table table-hover">
  <thead> 
    <tr>
      <td> # </td>
      <td> 電子信箱 </td>
      <td> 目前權限 </td>
      <td> 權限 </td>
      <td> 變更權限 </td>
      <td> 刪除使用者 </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> # </td>
      <td><%= @user.email %></td>
      <% if @user.has_role? :admin %>
        <td>權限管理員</td>
      <% elsif @user.has_role? :service %>
        <td>客服經理</td>
      <% elsif @user.has_role? :shopper %>
        <td>商品經理</td>
      <% elsif @user.has_role? :analyst %>
        <td>數據分析師</td>
      <% end %>
      <td>
        <% @roles.each do | role | %>
          <% if role.name == "admin" %>
            <%= check_box_tag(role) %>
            <%= label_tag(role, "權限管理員") %>
          <% elsif role.name == "service" %>
            <%= check_box_tag(role) %>
            <%= label_tag(role, "客服經理" ) %>
          <% elsif role.name == "shopper" %>
            <%= check_box_tag(role) %>
            <%= label_tag(role, "商品經理" ) %>
          <% elsif role.name == "analyst" %>
            <%= check_box_tag(role) %>
            <%= label_tag(role, "數據分析師" ) %>
          <% end %>
          <br>
        <% end %>
      </td>    
      <td><%= button_to "儲存變更", admin_role_path( @user ), data: { confirm: "你確定要變更這位使用者的管理權限嗎？" }, method: :put, :class => "btn btn-sm btn-default" %></td>
      <td><%= button_to "刪除", admin_user_path( @user ), data: { confirm: "你確定要刪除這位使用者嗎？" }, method: :delete, :class => "btn btn-sm btn-default" %></td>
    </tr>
  </tbody>
</table>