<div class="col-md-12">
  <div class="group">
    <%= link_to("新增提問", new_member_question_path(@mq) , :class => "btn btn-warning pull-right")%>
  </div>
  <h2 class="text-center">會員提問</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>標題</th>
        <th>狀態</th>
        <th>時間</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @mqs.each do |mq| %> 
        <tr>
          <td> <%= link_to member_question_path(mq) do %><%= mq.title %><% end %> </td>
          <td> <%= mq.status%> </td>
          <td> <%= mq.created_at%> </td>
          <td> <%= link_to("編輯", 
                           edit_member_question_path(mq), 
                           :class => "btn btn-default btn-sm")%>

               <%= link_to("刪除", 
                           member_question_path(mq), 
                           :class => "btn btn-default btn-sm ",
                           :method => :delete,
                           data: { confirm: "確定刪除?" } )%></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>