<h1 style="text-align:center;"><%= @product.name %></h1>

<br>

<table class="table table-hover">
	<thead> 
	  <tr>
	    <td> 產品簡介 </td>
      <td> 尺寸說明 </td>
	    <td> 注意事項 </td>
	    <td> 價錢 </td>
	  </tr>
  </thead>
	<tbody>
	  <tr>
	      <td><%= @product.description %></td>
	      <td><%= @product.size_note %></td>
		    <td><%= @product.attention %></td>
		    <td><%= @product.price %></td>
	  </tr>
	</tbody>
</table>

<h3 style="text-align:center;">庫存表</h3>
<table class="table table-hover">
	<thead> 
	  <tr style="text-align:center;">
	    <td> 顏色 </td>
	  	<% @all_sizes.each do | size | %>
        <td><%= size.upcase %></td>
	  	<% end %>
	  </tr>
  </thead>
	<tbody>
	  <% @product_colors.each do | color_inventory | %>
	    <tr style="text-align:center;">
		      <td><%= color_inventory %></td>
		      <% @all_sizes.each do | size | %>
            <td>
              <%= check_num(@inventories,color_inventory,size) ? check_num(@inventories,color_inventory,size).amount : 0 %>
            </td>
		      <% end %>
	    </tr>
	  <% end %>
	</tbody>
</table>

<br>

<div style="width: 17%; margin:0 auto;">
	<% @inventories.each do | inventory | %>
	  <% inventory.inventory_images.each do | images | %>
	    <h5>照片標題：<%= images.title %></h5>
	    <p>照片說明：<%= images.description %></p>
	  <% end %>
	<% end %>
</div>
<hr>
<h3 style="text-align:center;">加入購物車</h3>
<% if current_user %>
	<%= form_tag add_cart_path(current_user.carts.first.id), :method => "put" do %>
    <%= render "add" %>
		<%= submit_tag "加入購物車", :class => "btn btn-sm btn-default" %>
	<% end %>
<% else %>
  <%= render "add" %>
  <%= link_to "加入購物車", new_user_session_path, :class => "btn btn-sm btn-default" %>
<% end %>