<li><%= link_to( "權限管理" , admin_roles_path )%></li>
<li><%= link_to( "會員管理" , admin_users_path )%></li>
<li><%= link_to( "客戶服務" ,  )%></li>
<li><%= link_to( "商品管理" , admin_catalogs_path )%></li>
<li><%= link_to( "活動管理" ,  )%></li>
<li><%= link_to( "數據分析" ,  )%></li>