<li><%= link_to( "權限管理" , admin_roles_path )%></li>
<li><%= link_to( "會員管理" , admin_users_path )%></li>
<li><%= link_to( "客戶服務" , admin_member_questions_path )%></li>
<li><%= link_to( "商品管理" , admin_catalogs_path )%></li>
<li><%= link_to( "活動管理" ,  )%></li>
<li><%= link_to( "數據分析" ,  )%></li>
<li><%= link_to( "錯誤回報" ,  admin_bugs_path)%></li>
<li><%= link_to( "常見問題" ,  admin_faqs_path)%></li>